body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    font-size: 16px;
}

p {
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header img {
    width: 351px;
    height: 113px;
}

main .search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EEEEEE;
}

main .search-box p {
    margin: 0;
}

aside {
    height: 60px;
    display: grid;
    grid-template-columns: .85fr .5fr 1fr
}

aside .first-grid,
.second-grid,
.third-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.1rem;
    text-align: center;
}

aside .first-grid div,
.second-grid div,
.third-grid div:not(:last-child) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

aside .first-grid {
    background-color: #7EE5DA;
}

aside .second-grid {
    background-color: #70CCC2;
}

aside .third-grid {
    background-color: #62B3AA;
}

aside .second-grid,
aside .third-grid,
footer {
    font-size: 13px;
}

footer {
    width: 100%;
    text-align: center;
    margin: 2rem 0;
}